build/
build_*/
_deps/
compile_commands.json
.lake/
*.olean
*.ilean
*.trace
*.o
*.a
*.obj
*.exe
*.dll
__pycache__/
*.pyc
assets/*.bin
.polyscope.ini
imgui.ini
.vscode/
.cache/
# local machine-specific runtime data
activates.ini
hwid_table.ini
